version: 2

updates:
  # Keep GitHub Actions up to date
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    # group all action updates into a single PR
    groups:
      actions-deps:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"

  # Keep the base Docker image up to date
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      docker-deps:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
